@import "bootstrap";

.datetime-select {
  .form-control {
    width: auto;
    display: inline;
  }
}

.btnish-radio {
  input {
    display: none;
  }

  input + label {
    @extend .btn;
    @extend .btn-default;
  }

  input:checked + label {
    @extend .btn-primary;
  }

  label {
    margin-left: 3px;
    margin-right: 3px;
  }
}
