@import "bootstrap";

.expenses-week > .panel-heading {
  .panel-title {
    font-size: 0.9em;
    font-weight: bold;
  }

  padding: 5px 15px;
}

.expenses-sub-head {
  margin-top: -10px;
  padding-bottom: 3px;
  margin-bottom: 4px;

  * {
    font-weight: bold;
  }
}

.expenses-sub.row {
  margin-top: 4px;
  padding-top: 4px;
  border-top: 1px solid $gray-lighter;

}
