@import "bootstrap/variables";
@import "bootstrap/mixins";

.new-expense {
  @include center-block;
  text-align: center;

  .row {
    text-align: left;
  }

  @media (min-width: $screen-lg-min) {
    width: 500px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 50%;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: 80%;
  }
}

.expenses-week > .panel-heading {
  .panel-title {
    font-size: 0.9em;
    font-weight: bold;
  }

  padding: 5px 15px;
}

.expenses-sub-head {
  margin-top: -10px;
  padding-bottom: 3px;
  margin-bottom: 4px;

  * {
    font-weight: bold;
  }
}

.expenses-sub.row {
  margin-top: 4px;
  padding-top: 4px;
  border-top: 1px solid $gray-lighter;

  .comment, .title, .place, .linked-expense {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// expenses-sub responsive --

@media (max-width: $screen-sm-max) {
  .expenses-sub-head {
    display: none;

    & + .expenses-sub.row {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }
  }

  .expenses-sub.row {
    padding-top: 10px;
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0px;
      margin-bottom: 0;
    }

    .paid-at, .billed-at, .account, .category {
      display: inline;
    }

    .account, .category {
      margin: 0;
      margin-right: 8px;
      font-size: 110%;
      padding: 0;

      span {
        display: none;
      }
    }

    .comment, .title, .linked-expense {
      display: none;
      overflow: visible;
      white-space: normal;
      margin-top: 5px;
    }

    .amount {
      font-size: 180%;
    }

    .actions {
      margin-top: 10px;
      display: none;

      a {
        margin-right: 20px;
      }
    }

    &.toggled {
      .actions, .comment, .title, .linked-expense {
        display: block;
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .paid-at, .billed-at {
    text-align: right;
  }
} 

// --

.expense {
  .page-header {
    @media (max-width: $screen-sm-max) {
      font-size: 24px;
    }
  }
  .attributes {
    .row {
      .name {
        font-weight: bold;
      }

      margin-bottom: 4px;
    }
  }
}

.expense-card {
  .attributes .name {
    text-align: right;
  }

  .actions .btn {
    display: block;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
}
