@import "bootstrap";

.payments-week > .panel-heading {
  .panel-title {
    font-size: 0.9em;
    font-weight: bold;
  }

  padding: 5px 15px;
}

.payments-sub-head {
  margin-top: -10px;
  padding-bottom: 3px;
  margin-bottom: 10px;

  * {
    font-weight: bold;
  }
}
