@import "bootstrap/variables";
@import "bootstrap/mixins";

tr.subtotal {
  & td, & th {
    background-color: $gray-lighter;
  }
  & td.subtotal {
    font-weight: bold;
  }
}

.report-budget {
  .row {
    .panel-heading {
      font-weight: bold;
    }

    .panel-body {
      font-size: 150%;
      text-align: center;
    }

    .spent-breakdown {
    }
  }
}
